<!DOCTYPE html>
<html lang="en">
<head>

    <link href="home.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Asset List</title>
</head>
<body>

    {{#people}}
    <div class="peopleList"><a class="people" href="/person?id={{id}}">{{firstName}} {{lastName}} </a><br /> </div> <!-- Need to actually tell the browser where to go after the / -->
    {{/people}}


  <span>
{{#previous}}
<a class="nav" id="prev" href="/?offset={{previous}}">Previous</a>
{{/previous}}
  </span>

    <span>
{{#next}}
<a class="nav" id="next" href="/?offset={{next}}">Next</a>
{{/next}}
    </span>

</body>
</html>